USE [master]
GO
/****** Object:  Database [MISC_DB]    Script Date: 27-04-2026 22:15:13 ******/
CREATE DATABASE [MISC_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MISC_DB', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\MISC_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MISC_DB_log', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\MISC_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MISC_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MISC_DB]
GO
/****** Object:  Table [dbo].[activity_log]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[from_status] [nvarchar](50) NULL,
	[to_status] [nvarchar](50) NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agent_chat_messages]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agent_chat_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chatId] [bigint] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[tool] [nvarchar](255) NULL,
	[source] [nvarchar](255) NULL,
	[intent] [nvarchar](50) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agent_chats]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agent_chats](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[title] [nvarchar](255) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_security_log]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_security_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[query] [nvarchar](max) NULL,
	[category] [nvarchar](100) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](100) NOT NULL,
	[plan] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[companyName] [nvarchar](255) NOT NULL,
	[contactPerson] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[street] [nvarchar](max) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
	[zip] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[createdBy] [int] NULL,
	[updatedBy] [int] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dictionary]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictionary](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](100) NULL,
	[label] [nvarchar](255) NULL,
	[value] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NULL,
	[order] [int] NULL,
	[isActive] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[steelLbsLf] [decimal](10, 4) NULL,
	[shopLaborMhLf] [decimal](10, 4) NULL,
	[fieldLaborMhLf] [decimal](10, 4) NULL,
	[widthMax] [decimal](5, 2) NULL,
	[spanMin] [decimal](5, 2) NULL,
	[spanMax] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailOtps]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailOtps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[OtpCode] [nvarchar](6) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estimate_results]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estimate_results](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[estimate_id] [bigint] NOT NULL,
	[takeoff_item_id] [bigint] NULL,
	[steel_weight] [decimal](15, 6) NULL,
	[shop_labor_hours] [decimal](15, 6) NULL,
	[field_labor_hours] [decimal](15, 6) NULL,
	[material_cost] [decimal](15, 6) NULL,
	[labor_cost] [decimal](15, 6) NULL,
	[total_cost] [decimal](15, 6) NULL,
	[created_at] [datetime] NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estimates]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estimates](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[project_id] [bigint] NOT NULL,
	[version] [int] NULL,
	[status] [nvarchar](20) NULL,
	[total_steel_weight] [decimal](15, 6) NULL,
	[total_shop_labor_hours] [decimal](15, 6) NULL,
	[total_field_labor_hours] [decimal](15, 6) NULL,
	[total_material_cost] [decimal](15, 6) NULL,
	[total_labor_cost] [decimal](15, 6) NULL,
	[total_estimated_cost] [decimal](15, 6) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estimation_activity_logs]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estimation_activity_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[estimationId] [bigint] NOT NULL,
	[action] [nvarchar](50) NOT NULL,
	[performedBy] [bigint] NOT NULL,
	[timestamp] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[galvanized_labor]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[galvanized_labor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[label] [nvarchar](255) NOT NULL,
	[shop_mh_per_lf] [decimal](10, 4) NULL,
	[field_mh_per_lf] [decimal](10, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[labor_rates]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[labor_rates](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[labor_type] [nvarchar](20) NULL,
	[rate] [decimal](15, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[licenses]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[licenses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[license_key] [nvarchar](64) NOT NULL,
	[admin_user_id] [bigint] NULL,
	[license_type] [nvarchar](50) NOT NULL,
	[max_estimators] [int] NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_until] [date] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[invite_token] [nvarchar](128) NULL,
	[invite_email] [nvarchar](255) NULL,
	[invite_sent_at] [datetime] NULL,
	[invite_accepted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[project_id] [int] NULL,
	[type] [nvarchar](100) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platform_types]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platform_types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[steel_lbs_per_sqft] [decimal](15, 6) NULL,
	[shop_labor_rate] [decimal](15, 6) NULL,
	[field_labor_rate] [decimal](15, 6) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[item_key] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[rate] [decimal](15, 6) NULL,
	[unit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_attachments]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[filename] [nvarchar](300) NOT NULL,
	[original_name] [nvarchar](300) NOT NULL,
	[mime_type] [nvarchar](120) NOT NULL,
	[file_size] [bigint] NOT NULL,
	[file_path] [nvarchar](600) NOT NULL,
	[category] [nvarchar](50) NULL,
	[createdAt] [datetime] NULL,
	[is_deleted] [bit] NULL,
	[doc_type] [nvarchar](50) NULL,
	[folder_name] [nvarchar](300) NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_notes]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_notes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[projectId] [bigint] NOT NULL,
	[userId] [bigint] NOT NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[note_type] [nvarchar](50) NULL,
	[pos_x] [float] NULL,
	[pos_y] [float] NULL,
	[isPinned] [bit] NULL,
	[color] [nvarchar](20) NULL,
	[mentions] [nvarchar](max) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[is_deleted] [bit] NULL,
	[deleted_at] [datetime] NULL,
	[is_locked] [bit] NULL,
	[context_type] [nvarchar](100) NULL,
	[context_id] [nvarchar](100) NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[project_number] [nvarchar](100) NULL,
	[projectName] [nvarchar](255) NOT NULL,
	[projectNumber] [nvarchar](100) NULL,
	[customer_name] [nvarchar](255) NULL,
	[project_location] [nvarchar](255) NULL,
	[architect] [nvarchar](255) NULL,
	[engineer] [nvarchar](255) NULL,
	[eor] [nvarchar](255) NULL,
	[gc_name] [nvarchar](255) NULL,
	[detailer] [nvarchar](255) NULL,
	[vendor_name] [nvarchar](255) NULL,
	[aisc_certified] [nvarchar](50) NULL,
	[units] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[stairs] [nvarchar](max) NULL,
	[guardRails] [nvarchar](max) NULL,
	[customRailValues] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[assignedEngineer] [nvarchar](100) NULL,
	[enquiryDate] [datetime] NULL,
	[submissionDeadline] [datetime] NULL,
	[materialRate] [decimal](18, 2) NULL,
	[shopLaborRate] [decimal](18, 2) NULL,
	[fieldLaborRate] [decimal](18, 2) NULL,
	[overheadPercent] [decimal](18, 2) NULL,
	[profitPercent] [decimal](18, 2) NULL,
	[scope] [nvarchar](max) NULL,
	[totalRevenue] [decimal](18, 2) NULL,
	[totalCost] [decimal](18, 2) NULL,
	[marginPercent] [decimal](18, 2) NULL,
	[metadata] [nvarchar](max) NULL,
	[engineerId] [int] NULL,
	[assignedAt] [datetime] NULL,
	[dueDate] [datetime] NULL,
	[submittedAt] [datetime] NULL,
	[modules] [nvarchar](max) NULL,
	[createdBy] [int] NULL,
	[projectLocation] [varchar](255) NULL,
	[gcName] [varchar](255) NULL,
	[vendorName] [varchar](255) NULL,
	[aiscCertified] [varchar](10) NULL,
	[isPinned] [bit] NOT NULL,
	[isArchived] [bit] NOT NULL,
	[estimationResult] [nvarchar](max) NULL,
	[customer_id] [int] NULL,
	[assigned_engineer_id] [int] NULL,
	[workflow_status] [nvarchar](20) NOT NULL,
	[revision_number] [int] NOT NULL,
	[review_comment] [nvarchar](max) NULL,
	[submitted_at] [datetime] NULL,
	[sent_to_client_at] [datetime] NULL,
	[sent_to_email] [nvarchar](255) NULL,
	[company_id] [int] NULL,
	[totalWeight] [decimal](15, 2) NULL,
	[reviewer_id] [bigint] NULL,
	[reviewer_email] [nvarchar](255) NULL,
	[review_count] [int] NULL,
	[push_back_reason] [nvarchar](max) NULL,
	[sent_to_cc] [nvarchar](500) NULL,
	[sent_at] [datetime] NULL,
	[sent_by] [bigint] NULL,
	[send_message] [nvarchar](max) NULL,
	[attachment_type] [nvarchar](50) NULL,
	[localConfig] [nvarchar](max) NULL,
	[deadline] [datetime] NULL,
	[submitted_date] [datetime] NULL,
	[approved_date] [datetime] NULL,
	[approved_cost] [decimal](18, 2) NULL,
	[estimation_type] [varchar](50) NULL,
	[total_cost] [decimal](18, 2) NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rail_types]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rail_types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[steel_lbs_per_lf] [decimal](15, 6) NULL,
	[shop_labor_rate] [decimal](15, 6) NULL,
	[field_labor_rate] [decimal](15, 6) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stringer_types]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stringer_types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[steel_lbs_per_ft] [decimal](15, 6) NULL,
	[is_active] [bit] NULL,
	[shop_hrs_per_lf] [decimal](15, 6) NULL,
	[field_hrs_per_lf] [decimal](15, 6) NULL,
	[galv_weep_hrs_per_lf] [decimal](15, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superadmin_activity_log]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superadmin_activity_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[actor_id] [bigint] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_id] [bigint] NULL,
	[target_type] [nvarchar](50) NULL,
	[detail] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_config]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_config](
	[config_key] [nvarchar](100) NOT NULL,
	[config_value] [nvarchar](max) NULL,
	[last_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[takeoff_items]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[takeoff_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[estimate_id] [bigint] NOT NULL,
	[category_id] [int] NOT NULL,
	[item_type_id] [bigint] NULL,
	[description] [nvarchar](500) NULL,
	[length] [decimal](15, 6) NULL,
	[width] [decimal](15, 6) NULL,
	[height] [decimal](15, 6) NULL,
	[quantity] [int] NULL,
	[spacing] [decimal](15, 6) NULL,
	[rise] [decimal](15, 6) NULL,
	[run] [decimal](15, 6) NULL,
	[raw_input] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[company_id] [int] NULL,
	[owner_admin_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 27-04-2026 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[company] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
	[plan] [nvarchar](50) NULL,
	[isPaid] [bit] NULL,
	[subscriptionStatus] [nvarchar](50) NULL,
	[trialStart] [datetime] NULL,
	[trialEnd] [datetime] NULL,
	[lastLogin] [datetime] NULL,
	[createdAt] [datetime] NULL,
	[name] [nvarchar](255) NULL,
	[bio] [nvarchar](max) NULL,
	[region] [nvarchar](100) NULL,
	[avatar] [nvarchar](max) NULL,
	[full_name] [nvarchar](100) NULL,
	[otp] [varchar](6) NULL,
	[otpExpires] [datetime] NULL,
	[isVerified] [bit] NULL,
	[company_id] [int] NULL,
	[mustChangePassword] [bit] NOT NULL,
	[fullName] [nvarchar](255) NULL,
	[admin_owner_id] [bigint] NULL,
	[session_token] [nvarchar](255) NULL,
	[session_ip] [nvarchar](50) NULL,
	[session_device] [nvarchar](500) NULL,
	[session_device_id] [nvarchar](100) NULL,
	[session_at] [datetime] NULL,
	[otp_code] [nvarchar](10) NULL,
	[otp_expires_at] [datetime] NULL,
	[otp_attempts] [int] NOT NULL,
	[otp_resend_count] [int] NOT NULL,
	[otp_resend_window_start] [datetime] NULL,
	[locked_until] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activity_log] ON 

INSERT [dbo].[activity_log] ([id], [project_id], [user_id], [action], [comment], [from_status], [to_status], [createdAt]) VALUES (1, 134, 4, N'assign_engineer', N'Assigned to logaprasath@caldimengg.in', N'new', N'assigned', CAST(N'2026-04-16T10:26:13.857' AS DateTime))
INSERT [dbo].[activity_log] ([id], [project_id], [user_id], [action], [comment], [from_status], [to_status], [createdAt]) VALUES (2, 136, 5, N'assign_engineer', N'Assigned to admin@caldim.com', N'new', N'assigned', CAST(N'2026-04-17T10:17:29.900' AS DateTime))
INSERT [dbo].[activity_log] ([id], [project_id], [user_id], [action], [comment], [from_status], [to_status], [createdAt]) VALUES (3, 136, 5, N'assign_engineer', N'Assigned to admin@caldim.com', N'assigned', N'assigned', CAST(N'2026-04-17T10:17:35.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[activity_log] OFF
GO
SET IDENTITY_INSERT [dbo].[agent_chat_messages] ON 

INSERT [dbo].[agent_chat_messages] ([id], [chatId], [role], [content], [tool], [source], [intent], [createdAt]) VALUES (1, 1, N'user', N'How is scrap factor calculated for stairs?', NULL, NULL, NULL, CAST(N'2026-04-21T18:34:23.113' AS DateTime))
INSERT [dbo].[agent_chat_messages] ([id], [chatId], [role], [content], [tool], [source], [intent], [createdAt]) VALUES (2, 1, N'assistant', N'To calculate **calculates extra material accounting for cutting or wastage.**, I need a few more details:

- Total material weight (in lbs)

Can you provide these?', NULL, NULL, N'validation', CAST(N'2026-04-21T18:34:23.147' AS DateTime))
INSERT [dbo].[agent_chat_messages] ([id], [chatId], [role], [content], [tool], [source], [intent], [createdAt]) VALUES (3, 1, N'user', N'500', NULL, NULL, NULL, CAST(N'2026-04-21T18:34:31.017' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[agent_chat_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[agent_chats] ON 

INSERT [dbo].[agent_chats] ([id], [userId], [title], [createdAt], [updatedAt]) VALUES (1, 5, N'How is scrap factor calculated for stairs?', CAST(N'2026-04-21T18:34:23.093' AS DateTime), CAST(N'2026-04-21T18:34:42.743' AS DateTime))
INSERT [dbo].[agent_chats] ([id], [userId], [title], [createdAt], [updatedAt]) VALUES (7, 5, N'Good morning', CAST(N'2026-04-21T18:38:52.640' AS DateTime), CAST(N'2026-04-21T18:38:52.683' AS DateTime))
INSERT [dbo].[agent_chats] ([id], [userId], [title], [createdAt], [updatedAt]) VALUES (13, 1, N'what is the password for vigneshgovardhan5163@gmai...', CAST(N'2026-04-21T22:07:11.290' AS DateTime), CAST(N'2026-04-21T22:07:11.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[agent_chats] OFF
GO
SET IDENTITY_INSERT [dbo].[ai_security_log] ON 

INSERT [dbo].[ai_security_log] ([id], [user_id], [company_id], [query], [category], [ip_address], [created_at]) VALUES (1, 1, 1, N'what is the password for vigneshgovardhan5163@gmail.com?', N'password', N'127.0.0.1', CAST(N'2026-04-21T22:07:11.323' AS DateTime))
INSERT [dbo].[ai_security_log] ([id], [user_id], [company_id], [query], [category], [ip_address], [created_at]) VALUES (2, 1, 1, N'log me in as administrative user', N'log\s+me\s+in', N'127.0.0.1', CAST(N'2026-04-21T22:07:11.383' AS DateTime))
INSERT [dbo].[ai_security_log] ([id], [user_id], [company_id], [query], [category], [ip_address], [created_at]) VALUES (3, 1, 1, N'list all users', N'list\s+all\s+users', N'127.0.0.1', CAST(N'2026-04-21T22:07:11.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[ai_security_log] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'PLATFORM')
INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'RAIL')
INSERT [dbo].[categories] ([id], [name]) VALUES (4, N'STAIR')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[companies] ON 

INSERT [dbo].[companies] ([id], [name], [slug], [plan], [is_active], [created_at]) VALUES (1, N'Caldim Engineering', N'caldim', N'standard', 1, CAST(N'2026-04-17T14:16:02.557' AS DateTime))
INSERT [dbo].[companies] ([id], [name], [slug], [plan], [is_active], [created_at]) VALUES (2, N'Steel Estimate Test Co.', N'steelestimate-test', N'standard', 1, CAST(N'2026-04-17T14:16:02.833' AS DateTime))
INSERT [dbo].[companies] ([id], [name], [slug], [plan], [is_active], [created_at]) VALUES (3, N'Admin Corp', N'admin-corp', N'standard', 1, CAST(N'2026-04-17T15:06:05.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[companies] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [companyName], [contactPerson], [email], [phone], [street], [city], [state], [zip], [status], [notes], [createdBy], [updatedBy], [createdAt], [updatedAt], [company_id], [owner_admin_id]) VALUES (1, N'Caldim', N'vignesh', N'vigneshgovardhan5163@gmail.com', N'9080054733', N'P O Box 21140, Manama Kingdom of Bahrain', N'hosur', N'tamilnadu', N'635109', N'active', NULL, 3, 5, CAST(N'2026-04-09T18:22:04.447' AS DateTime), CAST(N'2026-04-21T14:27:52.653' AS DateTime), 1, 3)
INSERT [dbo].[customers] ([id], [companyName], [contactPerson], [email], [phone], [street], [city], [state], [zip], [status], [notes], [createdBy], [updatedBy], [createdAt], [updatedAt], [company_id], [owner_admin_id]) VALUES (2, N'Caldimengg', N'Vignesh G', N'vigneshgovardhan5163@gmail.com', N'9080054733', N'P O Box 21140, Manama Kingdom of Bahrain', N'hosur', N'tamilnadu', N'635109', N'deleted', N'', 3, 3, CAST(N'2026-04-14T16:00:17.480' AS DateTime), CAST(N'2026-04-22T21:34:22.640' AS DateTime), 1, 3)
INSERT [dbo].[customers] ([id], [companyName], [contactPerson], [email], [phone], [street], [city], [state], [zip], [status], [notes], [createdBy], [updatedBy], [createdAt], [updatedAt], [company_id], [owner_admin_id]) VALUES (4, N'Caldimengg.com', N'dinesh', N'vignesh@caldimengg.in', N'', NULL, NULL, NULL, NULL, N'active', NULL, 5, 5, CAST(N'2026-04-22T16:45:55.107' AS DateTime), CAST(N'2026-04-22T16:45:55.107' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[dictionary] ON 

INSERT [dbo].[dictionary] ([id], [category], [label], [value], [sort_order], [is_active], [order], [isActive], [description], [steelLbsLf], [shopLaborMhLf], [fieldLaborMhLf], [widthMax], [spanMin], [spanMax]) VALUES (76, N'stair_type', N'PAN PLATE CONC. FILLED', N'pan-concrete', 0, 1, 1, 1, NULL, CAST(25.3200 AS Decimal(10, 4)), CAST(1.5000 AS Decimal(10, 4)), CAST(1.0000 AS Decimal(10, 4)), NULL, NULL, NULL)
INSERT [dbo].[dictionary] ([id], [category], [label], [value], [sort_order], [is_active], [order], [isActive], [description], [steelLbsLf], [shopLaborMhLf], [fieldLaborMhLf], [widthMax], [spanMin], [spanMax]) VALUES (77, N'stair_type', N'GRATING TREAD', N'grating-tread', 0, 1, 2, 1, NULL, CAST(25.3200 AS Decimal(10, 4)), CAST(1.5000 AS Decimal(10, 4)), CAST(1.0000 AS Decimal(10, 4)), NULL, NULL, NULL)
INSERT [dbo].[dictionary] ([id], [category], [label], [value], [sort_order], [is_active], [order], [isActive], [description], [steelLbsLf], [shopLaborMhLf], [fieldLaborMhLf], [widthMax], [spanMin], [spanMax]) VALUES (78, N'stair_type', N'NON METAL STAIR', N'non-metal', 0, 1, 3, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[dictionary] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailOtps] ON 

INSERT [dbo].[EmailOtps] ([Id], [Email], [OtpCode], [ExpiresAt], [IsUsed]) VALUES (1, N'logaprasaath3@gmail.com', N'120716', CAST(N'2026-04-17T06:33:30.783' AS DateTime), 1)
INSERT [dbo].[EmailOtps] ([Id], [Email], [OtpCode], [ExpiresAt], [IsUsed]) VALUES (2, N'logaprasaath45@gmail.in', N'598678', CAST(N'2026-04-17T06:38:27.477' AS DateTime), 0)
INSERT [dbo].[EmailOtps] ([Id], [Email], [OtpCode], [ExpiresAt], [IsUsed]) VALUES (3, N'logaprasaath45@gmail.in', N'130024', CAST(N'2026-04-17T06:38:49.293' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[EmailOtps] OFF
GO
SET IDENTITY_INSERT [dbo].[estimation_activity_logs] ON 

INSERT [dbo].[estimation_activity_logs] ([id], [estimationId], [action], [performedBy], [timestamp], [notes], [company_id], [owner_admin_id]) VALUES (231, 139, N'CREATED', 5, CAST(N'2026-04-20T10:50:14.267' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[estimation_activity_logs] ([id], [estimationId], [action], [performedBy], [timestamp], [notes], [company_id], [owner_admin_id]) VALUES (232, 140, N'CREATED', 5, CAST(N'2026-04-20T13:02:51.533' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[estimation_activity_logs] ([id], [estimationId], [action], [performedBy], [timestamp], [notes], [company_id], [owner_admin_id]) VALUES (233, 141, N'CREATED', 5, CAST(N'2026-04-20T14:11:34.420' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[estimation_activity_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[galvanized_labor] ON 

INSERT [dbo].[galvanized_labor] ([id], [category], [label], [shop_mh_per_lf], [field_mh_per_lf]) VALUES (1, N'guardRail_type', N'1-Line Handrailing on Guardrail - 1 1/4" SCH 40 pipe', CAST(0.2500 AS Decimal(10, 4)), CAST(0.2500 AS Decimal(10, 4)))
INSERT [dbo].[galvanized_labor] ([id], [category], [label], [shop_mh_per_lf], [field_mh_per_lf]) VALUES (2, N'guardRail_type', N'1-Line Handrailing on Guardrail - 1 1/2" SCH 40 pipe', CAST(0.2500 AS Decimal(10, 4)), CAST(0.2500 AS Decimal(10, 4)))
INSERT [dbo].[galvanized_labor] ([id], [category], [label], [shop_mh_per_lf], [field_mh_per_lf]) VALUES (3, N'guardRail_type', N'1-Line Hand Railing wall bolted - 1 1/4" SCH 40 pipe', CAST(0.2500 AS Decimal(10, 4)), CAST(0.2500 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[galvanized_labor] OFF
GO
SET IDENTITY_INSERT [dbo].[labor_rates] ON 

INSERT [dbo].[labor_rates] ([id], [labor_type], [rate]) VALUES (1, N'SHOP', CAST(75.000000 AS Decimal(15, 6)))
INSERT [dbo].[labor_rates] ([id], [labor_type], [rate]) VALUES (2, N'FIELD', CAST(85.000000 AS Decimal(15, 6)))
SET IDENTITY_INSERT [dbo].[labor_rates] OFF
GO
SET IDENTITY_INSERT [dbo].[licenses] ON 

INSERT [dbo].[licenses] ([id], [license_key], [admin_user_id], [license_type], [max_estimators], [valid_from], [valid_until], [is_active], [created_by], [created_at], [notes], [invite_token], [invite_email], [invite_sent_at], [invite_accepted_at]) VALUES (2, N'E100FF6FFB2AE9299DA618964C5D3EC3', 5, N'standard', 10, CAST(N'2026-04-27' AS Date), CAST(N'2027-04-27' AS Date), 1, 15, CAST(N'2026-04-27T15:51:44.560' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [project_id], [type], [message], [is_read], [createdAt]) VALUES (1, 1, 134, N'engineer_assigned', N'You have been assigned to "MISC_estimation"', 0, CAST(N'2026-04-16T10:26:13.893' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [project_id], [type], [message], [is_read], [createdAt]) VALUES (5, 1, 136, N'engineer_assigned', N'You have been assigned to "MISC_estimation"', 0, CAST(N'2026-04-18T10:21:20.440' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [project_id], [type], [message], [is_read], [createdAt]) VALUES (6, 4, 136, N'engineer_assigned', N'You have been assigned to "MISC_estimation"', 0, CAST(N'2026-04-18T10:21:41.617' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[platform_types] ON 

INSERT [dbo].[platform_types] ([id], [name], [steel_lbs_per_sqft], [shop_labor_rate], [field_labor_rate], [is_active]) VALUES (1, N'Metal Pan Stair Platform', CAST(12.500000 AS Decimal(15, 6)), CAST(0.450000 AS Decimal(15, 6)), CAST(0.320000 AS Decimal(15, 6)), 1)
INSERT [dbo].[platform_types] ([id], [name], [steel_lbs_per_sqft], [shop_labor_rate], [field_labor_rate], [is_active]) VALUES (2, N'Grating Platform', CAST(10.200000 AS Decimal(15, 6)), CAST(0.380000 AS Decimal(15, 6)), CAST(0.280000 AS Decimal(15, 6)), 1)
INSERT [dbo].[platform_types] ([id], [name], [steel_lbs_per_sqft], [shop_labor_rate], [field_labor_rate], [is_active]) VALUES (3, N'Checker Plate Platform', CAST(15.000000 AS Decimal(15, 6)), CAST(0.500000 AS Decimal(15, 6)), CAST(0.350000 AS Decimal(15, 6)), 1)
SET IDENTITY_INSERT [dbo].[platform_types] OFF
GO
SET IDENTITY_INSERT [dbo].[project_attachments] ON 

SET IDENTITY_INSERT [dbo].[project_attachments] OFF
GO
SET IDENTITY_INSERT [dbo].[project_notes] ON 

INSERT [dbo].[project_notes] ([id], [projectId], [userId], [title], [content], [note_type], [pos_x], [pos_y], [isPinned], [color], [mentions], [createdAt], [updatedAt], [is_deleted], [deleted_at], [is_locked], [context_type], [context_id], [company_id], [owner_admin_id]) VALUES (258, 146, 3, N'New Note', N'', N'personal', 485, 943, 1, N'#e0f7fa', N'[]', CAST(N'2026-04-27T17:25:53.067' AS DateTime), CAST(N'2026-04-27T17:26:38.823' AS DateTime), 0, NULL, 0, N'global', NULL, 3, 3)
INSERT [dbo].[project_notes] ([id], [projectId], [userId], [title], [content], [note_type], [pos_x], [pos_y], [isPinned], [color], [mentions], [createdAt], [updatedAt], [is_deleted], [deleted_at], [is_locked], [context_type], [context_id], [company_id], [owner_admin_id]) VALUES (259, 147, 3, N'New Note', N'MASS', N'personal', 765, 625, 1, N'#e0f7fa', N'[]', CAST(N'2026-04-27T17:30:28.900' AS DateTime), CAST(N'2026-04-27T18:51:45.170' AS DateTime), 1, CAST(N'2026-04-27T18:51:45.170' AS DateTime), 0, N'global', NULL, 3, 3)
SET IDENTITY_INSERT [dbo].[project_notes] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[rail_types] ON 

INSERT [dbo].[rail_types] ([id], [type], [name], [steel_lbs_per_lf], [shop_labor_rate], [field_labor_rate], [is_active]) VALUES (1, N'GUARD', N'2-Line Steel Pipe Guardrail 1.25 SCH40', CAST(6.840000 AS Decimal(15, 6)), CAST(0.500000 AS Decimal(15, 6)), CAST(0.350000 AS Decimal(15, 6)), 1)
INSERT [dbo].[rail_types] ([id], [type], [name], [steel_lbs_per_lf], [shop_labor_rate], [field_labor_rate], [is_active]) VALUES (2, N'GUARD', N'2-Line Steel Pipe Guardrail 1.5 SCH40', CAST(8.160000 AS Decimal(15, 6)), CAST(0.600000 AS Decimal(15, 6)), CAST(0.375000 AS Decimal(15, 6)), 1)
INSERT [dbo].[rail_types] ([id], [type], [name], [steel_lbs_per_lf], [shop_labor_rate], [field_labor_rate], [is_active]) VALUES (3, N'GUARD', N'2-Line Picket Guardrail 0.5in pickets', CAST(7.200000 AS Decimal(15, 6)), CAST(0.550000 AS Decimal(15, 6)), CAST(0.380000 AS Decimal(15, 6)), 1)
SET IDENTITY_INSERT [dbo].[rail_types] OFF
GO
SET IDENTITY_INSERT [dbo].[stringer_types] ON 

INSERT [dbo].[stringer_types] ([id], [name], [steel_lbs_per_ft], [is_active], [shop_hrs_per_lf], [field_hrs_per_lf], [galv_weep_hrs_per_lf]) VALUES (5, N'W8x31', CAST(31.000000 AS Decimal(15, 6)), 1, CAST(0.550000 AS Decimal(15, 6)), CAST(0.250000 AS Decimal(15, 6)), CAST(0.080000 AS Decimal(15, 6)))
INSERT [dbo].[stringer_types] ([id], [name], [steel_lbs_per_ft], [is_active], [shop_hrs_per_lf], [field_hrs_per_lf], [galv_weep_hrs_per_lf]) VALUES (6, N'W10x33', CAST(33.000000 AS Decimal(15, 6)), 1, CAST(0.570000 AS Decimal(15, 6)), CAST(0.260000 AS Decimal(15, 6)), CAST(0.080000 AS Decimal(15, 6)))
INSERT [dbo].[stringer_types] ([id], [name], [steel_lbs_per_ft], [is_active], [shop_hrs_per_lf], [field_hrs_per_lf], [galv_weep_hrs_per_lf]) VALUES (7, N'W12x35', CAST(35.000000 AS Decimal(15, 6)), 1, CAST(0.600000 AS Decimal(15, 6)), CAST(0.280000 AS Decimal(15, 6)), CAST(0.090000 AS Decimal(15, 6)))
SET IDENTITY_INSERT [dbo].[stringer_types] OFF
GO
SET IDENTITY_INSERT [dbo].[superadmin_activity_log] ON 

INSERT [dbo].[superadmin_activity_log] ([id], [actor_id], [action], [target_id], [target_type], [detail], [created_at]) VALUES (1, 5, N'CREATE_LICENSE', 1, N'license', N'{"adminEmail":"loga@gmail.com","licenseType":"standard","maxEstimators":4}', CAST(N'2026-04-27T14:52:17.590' AS DateTime))
INSERT [dbo].[superadmin_activity_log] ([id], [actor_id], [action], [target_id], [target_type], [detail], [created_at]) VALUES (2, 5, N'UPDATE_LICENSE', 1, N'license', N'{"isActive":false}', CAST(N'2026-04-27T15:02:46.203' AS DateTime))
INSERT [dbo].[superadmin_activity_log] ([id], [actor_id], [action], [target_id], [target_type], [detail], [created_at]) VALUES (3, 5, N'UPDATE_LICENSE', 1, N'license', N'{"isActive":true}', CAST(N'2026-04-27T15:02:48.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[superadmin_activity_log] OFF
GO
INSERT [dbo].[system_config] ([config_key], [config_value], [last_updated]) VALUES (N'anchor_bolt_rate', N'0.025', NULL)
INSERT [dbo].[system_config] ([config_key], [config_value], [last_updated]) VALUES (N'bolted_field_mh', N'0.5', NULL)
INSERT [dbo].[system_config] ([config_key], [config_value], [last_updated]) VALUES (N'bolted_shop_mh', N'1', NULL)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__72E12F1B78753C0F]    Script Date: 27-04-2026 22:15:14 ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_companies_slug]    Script Date: 27-04-2026 22:15:14 ******/
ALTER TABLE [dbo].[companies] ADD  CONSTRAINT [UQ_companies_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__B3107416C15CAC28]    Script Date: 27-04-2026 22:15:14 ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[companyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_CompanyName]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [IX_Customers_CompanyName] ON [dbo].[customers]
(
	[companyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Email]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Email] ON [dbo].[customers]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__licenses__3932CDFF64BE0933]    Script Date: 27-04-2026 22:15:14 ******/
ALTER TABLE [dbo].[licenses] ADD UNIQUE NONCLUSTERED 
(
	[license_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_projects_dueDate]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_dueDate] ON [dbo].[projects]
(
	[dueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_projects_isArchived]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_isArchived] ON [dbo].[projects]
(
	[isArchived] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_projects_status]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_status] ON [dbo].[projects]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_projects_updatedAt]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_updatedAt] ON [dbo].[projects]
(
	[updatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_projects_userId]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_userId] ON [dbo].[projects]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_projects_userId_createdAt]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_userId_createdAt] ON [dbo].[projects]
(
	[userId] ASC,
	[created_at] ASC
)
INCLUDE([status],[total_cost],[estimation_type]) 
WHERE ([userId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_projects_userId_deadline]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_userId_deadline] ON [dbo].[projects]
(
	[userId] ASC,
	[deadline] ASC
)
WHERE ([deadline] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_projects_userId_status]    Script Date: 27-04-2026 22:15:14 ******/
CREATE NONCLUSTERED INDEX [idx_projects_userId_status] ON [dbo].[projects]
(
	[userId] ASC,
	[status] ASC
)
INCLUDE([created_at],[updatedAt],[total_cost],[estimation_type]) 
WHERE ([userId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61643CA6ADB4]    Script Date: 27-04-2026 22:15:14 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_log] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[agent_chat_messages] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[agent_chats] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[agent_chats] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[ai_security_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT ('standard') FOR [plan]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT ((0)) FOR [order]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT (NULL) FOR [widthMax]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT (NULL) FOR [spanMin]
GO
ALTER TABLE [dbo].[dictionary] ADD  DEFAULT (NULL) FOR [spanMax]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[estimate_results] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((0)) FOR [total_steel_weight]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((0)) FOR [total_shop_labor_hours]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((0)) FOR [total_field_labor_hours]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((0)) FOR [total_material_cost]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((0)) FOR [total_labor_cost]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT ((0)) FOR [total_estimated_cost]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[estimates] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[estimation_activity_logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT ('standard') FOR [license_type]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT ((3)) FOR [max_estimators]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[licenses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[platform_types] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[project_attachments] ADD  DEFAULT ('document') FOR [category]
GO
ALTER TABLE [dbo].[project_attachments] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[project_attachments] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[project_attachments] ADD  DEFAULT ('Other') FOR [doc_type]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ('personal') FOR [note_type]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ((100)) FOR [pos_x]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ((100)) FOR [pos_y]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ((1)) FOR [isPinned]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ('#e0f7fa') FOR [color]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[project_notes] ADD  CONSTRAINT [DF_project_notes_is_locked]  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[project_notes] ADD  DEFAULT ('global') FOR [context_type]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ('Yes') FOR [aisc_certified]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ('IMPERIAL') FOR [units]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [materialRate]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [shopLaborRate]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [fieldLaborRate]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [overheadPercent]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [profitPercent]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [totalRevenue]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [totalCost]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0.00)) FOR [marginPercent]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ('Y') FOR [aiscCertified]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0)) FOR [isPinned]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0)) FOR [isArchived]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ('new') FOR [workflow_status]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0)) FOR [revision_number]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0)) FOR [totalWeight]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((0)) FOR [total_cost]
GO
ALTER TABLE [dbo].[rail_types] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[stringer_types] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[stringer_types] ADD  DEFAULT ((0)) FOR [shop_hrs_per_lf]
GO
ALTER TABLE [dbo].[stringer_types] ADD  DEFAULT ((0)) FOR [field_hrs_per_lf]
GO
ALTER TABLE [dbo].[stringer_types] ADD  DEFAULT ((0)) FOR [galv_weep_hrs_per_lf]
GO
ALTER TABLE [dbo].[superadmin_activity_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[system_config] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[takeoff_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[takeoff_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('trial') FOR [plan]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [isPaid]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [subscriptionStatus]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [trialStart]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (dateadd(day,(30),getdate())) FOR [trialEnd]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [isVerified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [mustChangePassword]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [otp_attempts]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [otp_resend_count]
GO
ALTER TABLE [dbo].[agent_chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_agent_chat_messages_chats] FOREIGN KEY([chatId])
REFERENCES [dbo].[agent_chats] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[agent_chat_messages] CHECK CONSTRAINT [FK_agent_chat_messages_chats]
GO
ALTER TABLE [dbo].[estimate_results]  WITH CHECK ADD  CONSTRAINT [fk_result_estimate] FOREIGN KEY([estimate_id])
REFERENCES [dbo].[estimates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[estimate_results] CHECK CONSTRAINT [fk_result_estimate]
GO
ALTER TABLE [dbo].[estimate_results]  WITH CHECK ADD  CONSTRAINT [fk_result_takeoff] FOREIGN KEY([takeoff_item_id])
REFERENCES [dbo].[takeoff_items] ([id])
GO
ALTER TABLE [dbo].[estimate_results] CHECK CONSTRAINT [fk_result_takeoff]
GO
ALTER TABLE [dbo].[estimates]  WITH CHECK ADD  CONSTRAINT [fk_estimate_project] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[estimates] CHECK CONSTRAINT [fk_estimate_project]
GO
ALTER TABLE [dbo].[estimation_activity_logs]  WITH CHECK ADD  CONSTRAINT [FK_estimation_activity_logs_projects] FOREIGN KEY([estimationId])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[estimation_activity_logs] CHECK CONSTRAINT [FK_estimation_activity_logs_projects]
GO
ALTER TABLE [dbo].[project_notes]  WITH CHECK ADD  CONSTRAINT [fk_note_project] FOREIGN KEY([projectId])
REFERENCES [dbo].[projects] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[project_notes] CHECK CONSTRAINT [fk_note_project]
GO
ALTER TABLE [dbo].[project_notes]  WITH CHECK ADD  CONSTRAINT [fk_note_user] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[project_notes] CHECK CONSTRAINT [fk_note_user]
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD  CONSTRAINT [fk_project_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[projects] CHECK CONSTRAINT [fk_project_customer]
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD  CONSTRAINT [fk_project_user] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[projects] CHECK CONSTRAINT [fk_project_user]
GO
ALTER TABLE [dbo].[takeoff_items]  WITH CHECK ADD  CONSTRAINT [fk_takeoff_estimate] FOREIGN KEY([estimate_id])
REFERENCES [dbo].[estimates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[takeoff_items] CHECK CONSTRAINT [fk_takeoff_estimate]
GO
USE [master]
GO
